@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
	height: 100%; 
	font-family: 'Noto Sans', sans-serif;
  	background-color: #ec576b; 
}

header {
    background: rgba(255, 255, 255, 0.10);
    padding-bottom: 60px;
    position: relative;
}

a {
  color: #ff7013;
  text-decoration: none;
}

.logo {
    width: 12%;
    float: right;
    padding: 0 20px 0 0;
}

 .menu-img {
    width: 6%;
    float: left;
    margin-top: 80px;
    padding-left: 15px;
    border-left: 60px;
    background: #ee818f;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

hr {
	border: 0;
	border-top: 1px solid #000000;
    box-align: center;
    width: 50%;
    position: absolute;
    margin-left: 22%;
}

.menu {
    list-style:none;
    position:center;
}

.pedido {
    background-color: #ee818f;
    border-radius: 10px;
}

.alinhamento {
    padding-left: 18%;
}

.menu li {
    position: relative;
    float: left;
    font-size: 25px bolder;
    max-width: 25%;
    text-align: center;
}
    
.menu li a {
    font-size: clamp(0.9em, 0.5em + 0.5vw, 1em);
    color:rgb(0, 0, 0); 
    text-decoration:none; 
    padding:5px 40px; 
    display:block;
    border-radius: 10px;
    box-align: center;
    text-transform: uppercase;
}

.menu li a:hover {
    background:#df5467;
    color:rgb(0, 0, 0);
}
    
.menu li  ul {
    position:absolute;
    top:25px;
    left:0;
    background-color:rgb(255, 143, 233);
    display:none;
}
    
.menu li:hover ul, .menu li.over ul {
    display:block;
}

.title {
	color: black;
	font-size: 40px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}

h1 {
	color: #ec576b;
}

.descricao {
	font-size: clamp(1em, 0.9em + 0.5vw, 1.5em);
	text-align: center;
	padding: 15px 0 40px;
}


.contact_form {	
	width: 450px; 
 	 height: auto;
  	margin: 80px auto;
	border-radius: 10px; 
	text-align: center; 
	padding-top: 30px;
	padding-bottom: 50px;  
  	background-color: #fbfbfb; 
  	padding-left: 0; 
}

input {
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 2px; 
	border-color: #ec576b; 
	margin-top: 10px;  
	padding-left: 10px;
  	margin-bottom: 15px; 
}

textarea {
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 2px; 
	border-color: #ec576b; 
	margin-top: 10px;  
	padding-left: 10px;
  	margin-bottom: 20px; 
  	padding-top: 15px; 
}

label {
 	display: block; 
	float: left; 
	padding-left: 20px;	
}
  
button {
	background:transparent;
	border-width:2px;
	border-style: solid;
	position:relative;
	margin:1em;
	display:inline-block;
	padding:0.5em 1em;
	transition:all 0.3s ease-in-out;
	text-align:center;
	font-family:comfortaa;
	font-weight:bold;
	width: 90%;
	height: 3em;
  }
  
button:before, button:after {
	content:'';
	display:block;
	position:absolute;
	box-sizing:border-box;
	border-style:solid;
	width: 1em;height:1em;
	transition:all 0.3s ease-in-out;
}
  
button:before {
	top:-6px;
	left:-6px;
	border-width:2px 0 0 2px;
	z-index:5;
}
  
button:after {
	bottom:-6px;
	right:-6px;
	border-width:0 2px 2px 0;
}
  
button:hover:before, button:hover:after {
	width:calc(100% + 12px);
	height:calc(100% + 12px);
	border-color:#fff;
}
  
button:hover {
	background-color:#fff;
	border-color:#fff;
}
  
.panel {
	max-width:960px;
	text-align:center;
	position:relative;
	margin:auto;
}
  
.pink button {
	color:#ec576b;
	border-color:#ec576b;
}
  
.pink button:before, .pink button:after {
	border-color:#ec576b;
}
  
.pink button:hover:before, .pink button:hover:after {
	border-color:#ec576b;
}
  
.pink button:hover {
	color:#fff;
	background-color:#ec576b;
	border-color:#ec576b;
}
  
.pink .panel {
	max-width:960px;
	text-align:center;
	position:relative;
	margin:auto;
}

span {
	color: #ec576b; 
}

.aviso {
	font-size: 13px;  
	color: #0e0e0e;
	float: left;
	padding-left: 20px;
}

h1 {
	font-size: 35px;  
	text-align: center; 
	color: #ec576b;
}

h3 {
    text-align: center;
	font-size: 14px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}

p {
	font-size: 14px; 
	color: #0e0e0e; 
}

::-webkit-input-placeholder {
 	color: #a8a8a8;
}

::-webkit-textarea-placeholder {
	color: #a8a8a8;
}

.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}

.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}